@charset "UTF-8";

body{
    background-color: rgb(195, 255, 210);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(21, 94, 27);
}

h1#principal{
    color: white;
    text-align: center;
    background-color: rgb(21, 94, 27)
    ;
}

h2{
    color: rgb(21, 94, 27);
}

.basico{
    color: green;
    font-weight: bold;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}

.destaque{
    background-color: rgba(172, 172, 105, 0.377);
}